body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    background: #000;
    color: #eee;
}

#controls {
    margin: 20px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background: #222;
    border: 1px solid;
    border-radius: 5px;
    color: #eee;
    cursor: pointer;
}

button:hover {
    background: #333;
}

button:active {
    background: #ff0000;
}
